<div class="logo_container">
  <img src="../../../assets/images/logo/logo.png"/>
</div>
<div fxLayout="row" id="row" fxLayoutAlign="center center" style="height: 100%;">
  <div class="register mat-elevation-z12">
    <div class="register-header" fxLayout="column" fxLayoutAlign="center center">
        <i class="material-icons" style="font-size:30px;vertical-align: bottom;">person_add</i>&nbsp;&nbsp;Rejestracja
    </div>

    <mat-card>
      <mat-card-content id="form_card">
    <form [formGroup]="registerForm" (ngSubmit)="register()">

        <mat-form-field class="display-block">
            <input type="name" placeholder="Imię" formControlName="name" required matInput>
            <mat-error *ngIf="formErrors.name">{{formErrors.name}}</mat-error>
          </mat-form-field>

          <mat-form-field class="display-block">
              <input type="surname" placeholder="Nazwisko" formControlName="surname" required matInput>
              <mat-error *ngIf="formErrors.surname">{{formErrors.surname}}</mat-error>
            </mat-form-field>
      
                  <mat-form-field class="display-block">
                    <input type="email" placeholder="Email" formControlName="email" required matInput>
                    <mat-error *ngIf="formErrors.email">{{formErrors.email}}</mat-error>
                  </mat-form-field>
        
                  <mat-form-field class="display-block">
                    <input type="password" placeholder="Hasło" formControlName="password" required matInput>
                    <mat-error *ngIf="formErrors.password">{{formErrors.password}}</mat-error>
                  </mat-form-field>

                  <mat-form-field class="display-block">
                      <input type="password" placeholder="Potwierdź hasło" formControlName="confirmPassword" required matInput >
                      <mat-error *ngIf="formErrors.confirmPassword">{{formErrors.confirmPassword}}</mat-error>
                      <mat-error *ngIf="registerForm.hasError('notSame')">
                          Podane hasła są różne
                      </mat-error> 
                    </mat-form-field>

                    <div class="extra-options" fxLayout="row" fxLayoutAlign="center center">
                        <mat-checkbox  class="remember-me" (change)="onChange($event)">Zapoznałem/am się z &nbsp; </mat-checkbox>
                        <a href="#" target="_blank">warunkami korzystania z serwisu</a>
                      </div>

                      <div [hidden]="loadingHidden" style="margin-top:20px">
                          <mat-progress-bar mode="query" ></mat-progress-bar>
                          </div>
                      <div *ngIf="isError" style="color:#f44336;margin-bottom:30px">
                        <i class="material-icons">error</i> {{errorMessage}}
                    </div>
                  <button mat-raised-button color="primary" id="submit-button" type="submit" [disabled]="(!registerForm.valid)||!isChecked">Zarejestruj</button>
                  <p class="note">Masz już konto?<br/> <a [routerLink]="['/login']">Przejdź do strony logowania</a></p>
    </form>
  </mat-card-content>
  
      </mat-card>


  </div>
</div>

