      <!-- <button id="button_delete" (click)="deleteNode()">Usuń węzły potomne</button>
      <button id="button_addChild" (click)="appendNewChild()">Dodaj węzeł potomny</button>
      <button id="button_save" (click)="save()">Zapisz stan</button>
      <button id="button_save" (click)="checkCurrentNode()">Check</button>

  

      <h1 id="title">{{title}}</h1>
      <h6 id="ident">{{ident}}</h6>
      <h6 id="event">{{event}}</h6>
      <h6 id="training">{{training}}</h6>
      <h6 id="responses">{{responses}}</h6> -->

      <button id="button_save" (click)="add()">Add</button>
      <svg width="100%" height="200px"></svg>




