<mat-toolbar class="action_toolbar">
    <mat-icon class="design_icon">build</mat-icon>
    <span>Design panel</span>

    <span class="fill-space"></span>
    
    <button class="action_button" mat-button (click)="saveConversation()" >Zapisz</button>
    <button class="action_button" mat-button >Resetuj</button>
    <button class="action_button" mat-button (click)="toConversations()">Powrót</button>
    
  </mat-toolbar>

  <mat-sidenav-container >
    <mat-sidenav #sidenav mode="push">
      <p><button mat-button (click)="sidenav.toggle()"><mat-icon>exit_to_app</mat-icon></button></p>
      <h4>{{current.name}}</h4>
      <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
            <b>Zbiór treningowy</b>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="parameters_row">
          <!-- TRAININ SET -->
          <div class="parameters_column">
              <input #newSample
              (keyup.enter)="addSample(current,newSample.value)"
              >
            <button mat-icon-button (click)="addSample(current,newSample.value)"><mat-icon>add_circle_outline</mat-icon></button>
            <mat-list>
                <mat-list-item *ngFor="let sample of current.trainingSamples"> {{sample}}
                    <button  mat-icon-button (click)="removeSample(current,sample)"><mat-icon>close</mat-icon></button>
                </mat-list-item>
            </mat-list>
          </div>
            </div>
      </mat-expansion-panel> 
      <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
            <b>Odpowiedzi</b>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="parameters_row">
          <!-- ANSWERS -->
          <div class="parameters_column">
            <input #newAnswer
            (keyup.enter)="addAnswer(current,newAnswer.value)"
            >
          <button mat-icon-button (click)="addAnswer(current,newAnswer.value)"><mat-icon>add_circle_outline</mat-icon></button>
            <mat-list>
              <mat-list-item *ngFor="let answer of current.answers"> {{answer}}
                  <button  mat-icon-button (click)="removeAnswer(current,answer)"><mat-icon>close</mat-icon></button>
              </mat-list-item>
            </mat-list>
            </div>       
            </div>
      </mat-expansion-panel> 
      <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
            <b>Zdarzenia</b>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="parameters_row">       
            <!-- EVENTS -->
            <div class="parameters_column">
              <input #newEvent
              (keyup.enter)="addEvent(current,newEvent.value)"
              >
            <button mat-icon-button (click)="addEvent(current,newEvent.value)"><mat-icon>add_circle_outline</mat-icon></button>
              <mat-list>
                <mat-list-item *ngFor="let event of current.events"> {{event}}
                    <button  mat-icon-button (click)="removeEvent(current,event)"><mat-icon>close</mat-icon></button>
                </mat-list-item>
              </mat-list>
              </div> 
            </div>
      </mat-expansion-panel> 
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
          <b>Wyrażenia niezrozumienia</b>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="parameters_row">       
          <!-- NOT UNDERSTOOD SENTENCES -->
          <div class="parameters_column">
            <input #newMisunderstandingStatement
            (keyup.enter)="addMisunderstandingStatement(current,newMisunderstandingStatement.value)"
            >
          <button mat-icon-button (click)="addMisunderstandingStatement(current,newMisunderstandingStatement.value)"><mat-icon>add_circle_outline</mat-icon></button>
            <mat-list>
              <mat-list-item *ngFor="let statement of current.misunderstandingStatements"> {{statement}}
                  <button  mat-icon-button (click)="removeMisunderstandingStatement(current,statement)"><mat-icon>close</mat-icon></button>
              </mat-list-item>
            </mat-list>
            </div> 
          </div>
    </mat-expansion-panel> 

    </mat-sidenav>
  
    <mat-sidenav-content>
        <app-chatbox #chatbox></app-chatbox>
      <!-- <p><button mat-button (click)="sidenav.toggle()">Toggle2</button></p> -->

      <div fxLayout="row">
          <div class="profile m-r-20" fxFlex="540px" style="margin-left:50px;margin-top:50px">
            <mat-card fxFlex style="height:100%; width:100%">
              <mat-card-title>Struktura</mat-card-title>
              <mat-card-content class="text-center">
                  <mat-tree [dataSource]="nestedDataSource" [treeControl]="nestedTreeControl" class="example-tree" #treeSelector>
                      <mat-nested-tree-node *matTreeNodeDef="let node">
                        <li>
                          <div class="mat-tree-node">
                              <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">
                                  <mat-icon class="mat-icon-rtl-mirror" *ngIf="node.children.length>0">
                                    {{nestedTreeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                                  </mat-icon>
                                </button>  	
                                <b>{{node.id}}</b>
                                <input type="text" class="name_input" [(ngModel)]="node.name" name="node"   (change)="update()"> 
                                
                                <div class="operation_buttons">
                                  <div class="button_row">
                                  <button class="button_column" mat-icon-button (click)="addNewItem(node)"><mat-icon>add</mat-icon></button>
                                  <button class="button_column"  *ngIf="node.children.length ==0 && node.level!=0 " mat-icon-button (click)="remove(node)"><mat-icon>close</mat-icon></button>
                                  <button class="button_column" *ngIf="node.level!=0 " mat-icon-button (click)="setCurrentNode(node)"><mat-icon>settings</mat-icon></button>
                                  </div>
                                  </div>
                    
                                 <!-- <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                      <mat-panel-title>
                                      <b>Settings</b>
                                      </mat-panel-title>
                                       <mat-panel-description>
                                      </mat-panel-description> 
                                    </mat-expansion-panel-header>
                                    <div class="parameters_row">
                                   
                                    <div class="parameters_column">
                                        <h4>Training samples:</h4>
                                        <input #newSample
                                        (keyup.enter)="addSample(node,newSample.value)"
                                        >
                                      <button mat-icon-button (click)="addSample(node,newSample.value)"><mat-icon>add_circle_outline</mat-icon></button>
                                      <mat-list>
                                          <mat-list-item *ngFor="let sample of node.trainingSamples"> {{sample}}
                                              <button  mat-icon-button (click)="removeSample(node,sample)"><mat-icon>close</mat-icon></button>
                                          </mat-list-item>
                                      </mat-list>
                                    </div>
                                  
                                    <div class="parameters_column">
                                      <h4>Answer samples:</h4>
                                      <input #newAnswer
                                      (keyup.enter)="addAnswer(node,newAnswer.value)"
                                      >
                                    <button mat-icon-button (click)="addAnswer(node,newAnswer.value)"><mat-icon>add_circle_outline</mat-icon></button>
                                      <mat-list>
                                        <mat-list-item *ngFor="let answer of node.answers"> {{answer}}
                                            <button  mat-icon-button (click)="removeAnswer(node,answer)"><mat-icon>close</mat-icon></button>
                                        </mat-list-item>
                                      </mat-list>
                                      </div>       
                                    
                                      <div class="parameters_column">
                                        <h4>Events:</h4>
                                        <input #newEvent
                                        (keyup.enter)="addEvent(node,newEvent.value)"
                                        >
                                      <button mat-icon-button (click)="addEvent(node,newEvent.value)"><mat-icon>add_circle_outline</mat-icon></button>
                                        <mat-list>
                                          <mat-list-item *ngFor="let event of node.events"> {{event}}
                                              <button  mat-icon-button (click)="removeEvent(node,event)"><mat-icon>close</mat-icon></button>
                                          </mat-list-item>
                                        </mat-list>
                                        </div> 
                                      </div>
                                </mat-expansion-panel>      -->
                          </div>
                          <ul [class.example-tree-invisible]="!nestedTreeControl.isExpanded(node)">
                            <ng-container matTreeNodeOutlet></ng-container>
                          </ul>
                        </li>
                      </mat-nested-tree-node>
                    </mat-tree>
              </mat-card-content>
            </mat-card>
          </div>
      
      
          <mat-card fxFlex style="margin-left:30px;margin-right:30px;margin-top:50px">
            <mat-card-title>Podgląd</mat-card-title>
            <mat-card-content>
                <div id="chart" style="margin-left:-24px"><svg width="100%" height="200px"></svg></div>
            </mat-card-content>
          </mat-card>
        </div>






</mat-sidenav-content>
</mat-sidenav-container>

<!-- UNUSED -->
<!-- <button (click)="checkit()">TEST</button> -->
<!-- <hr/>
<h2>Final Location Layout</h2>
<button mat-icon-button (click)="getTree()">Get Tree</button>
<br/>
<button mat-icon-button (click)="check()">Find parent</button> -->